*.pyc
*.swp
.DS_Store
Thumbs.db
nohup.out
*.mo
access.log
tags
*.csv
._*
.project
.pydevproject
.settings/*
Session.vim
dev_settings.py
pgsql/*
pip_archive
build
django_db_sampler
_build/
.tags
.tags_sorted_by_file
.idea
/dowant/*/node_modules/*
/dowant/restaurant_admin/static/restaurant_admin/dist/js/*
!/dowant/restaurant_admin/static/restaurant_admin/dist/js/ra.js
./static
